body{
	height: 100vh;
/*background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
color: white;
}

.width100{
	width: 100%;
	margin-top: 15px;
	border: none;
	border-style: none;
	color: gray;
}
.mainText{
	font-size: 40px;
	font-weight: 300;
}
.center{
	text-align: center;
	margin-top: 10%;
}