/* Index Html Doc */

.spacing{
  margin-bottom: 20%;
}

#balls2{
background-color: #E3000E;
}

.header{
	width: 100%;
	text-align: center;
	margin-top: 20%; 
}

.headline{
	font-family: helvetica;
	color: white;
	font-size: 4em;
}

.welcome{
	font-family: helvetica;
	color: white;
	font-size: 2em;
}

.input{
	border: none;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
}

.input:focus{
	outline: none;
}

.button{
	background-color: #83D6DE;
	width: 50%;
	height: 45px;
	margin-top: 20px;
	margin-bottom: 10px;
}

/* Dash Html Doc */

.bigIcon{
	font-size: 100px;
	color: white;
}

.floatRight{
	float: right;
}
.balls{
	margin-top: 500px;
}

.navbar{
	background-color: #E3000E;
}

.graphs{
	margin-top: 50px;
}