/* Index Html Doc */
body{
	font-size: 12pt;
}
.spacing{
  margin-bottom: 20%;
}

#mainHeader{


background-color: #00C7AB;
}

.header{
	width: 100%;
	text-align: center;
	margin-top: 20%; 
}

.headline{
	font-family: helvetica;
	color: white;
	font-size: 8em;
}

.welcome{
	font-family: helvetica;
	color: white;
	font-size: 4em;
}

.step1{
	font-family: helvetica;
	font-size: 4em;
}

.input{
	border: none;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 20px;
	border-bottom: 2px solid black;
	font-size: 26px;
	line-height: 45px;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.input:focus{
	border: none;
	box-shadow: none;
	outline: none;
}

.button{
	background-color: #00C7AB;
	width: 25%;
	height: 75px;
	margin-top: 30px;
	margin-bottom: 10px;
	font-size: 24px;
}

/* Dash Html Doc */

.bigIcon{
	font-size: 100px;
	color: white;
}

.floatRight{
	float: right;
}
.balls{
	margin-top: 500px;

}

.navbar{
	background-color: #00C7AB;

}

.graphNavs{
	border-bottom: 1px #00C7AB solid;
	padding: 0px;
/*	margin-top: 9%;*/
}

.smallBox{
	margin-top: 5px;
	margin-bottom: 5px;
}

.submitBox{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 35%;
}

.description{
	font-size: 14px;
}

.horizontalbtn{
/*	position: fixed;*/
}

.navbtn:focus{
	background-color: #00C7AB;
	outline: none;
}
.navbtn:active{
	background-color: #00C7AB;
	outline: none;
}
.navbtn{
	height: 75px;
	outline: none;
	background-color: white;
}
.btnwrapper{
	padding-left: 0px;
	padding-right: 0px;
}

.modaltest{
	width: 100%;
}

.graph{
	width: 100%;
}