<!DOCTYPE html>
<html ng-app="myApp">
    <head>
    	<title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="./css/dash.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
<!--     // <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script> -->
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <script rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<!--     // <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.5.0/angular-touch.js"></script> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="main.js"></script>
    <script src="dash.js"></script>
    </head>
    <body>
    <div ng-controller="mainController">
        <nav class="navbar">
            <div class="container-fluid navbar">
                <!-- <div class="col-xs-12"> -->
                    <h1 class="col-xs-6 bigIcon"><div class="ion-person" ng-click="modalInfo()" data-toggle="modal" data-target="#newModal"></div></h1>
                    <h1 class="col-xs-6 bigIcon"><div class="ion-ios-gear floatRight" data-toggle="modal" data-target="#myModal"></div></h1>
                <!-- </div> -->
            </div>
        </nav>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modaltest">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><b>X</b></button>
            <h3 class="modal-title" id="myModalLabel">Settings</h3>
            </div>
            <div class="modal-body">
                <div class="settingsBox">
                    <h4>What time would you like to receive texts?</h4>
                        <select class="form-group timeinput" name="time" ng-model="setTime.time">
                            <option value="0">12:00 AM</option>
                            <option value="1">1:00 AM</option>
                            <option value="2">2:00 AM</option>
                            <option value="3">3:00 AM</option>
                            <option value="4">4:00 AM</option>
                            <option value="5">5:00 AM</option>
                            <option value="6">6:00 AM</option>
                            <option value="7">7:00 AM</option>
                            <option value="8">8:00 AM</option>
                            <option value="9">9:00 AM</option>
                            <option value="10">10:00 AM</option>
                            <option value="11">11:00 AM</option>
                            <option value="12">12:00 PM</option>
                            <option value="13">1:00 PM</option>
                            <option value="14">2:00 PM</option>
                            <option value="15">3:00 PM</option>
                            <option value="16">4:00 PM</option>
                            <option value="17">5:00 PM</option>
                            <option value="18">6:00 PM</option>
                            <option value="19">7:00 PM</option>
                            <option value="20">8:00 PM</option>
                            <option value="21">9:00 PM</option>
                            <option value="22">10:00 PM</option>
                            <option value="23">11:00 PM</option>
                        </select>
                        <button class="btn savebtn timebtn" ng-click="text()">Save</button>
                    </div>
                    <div class="settingsBox">
                        <h3> Update your phone number:</h3>
                        <input class="dashinput" type="text" ng-model="setNumber.number" placeholder="Phone number"/><button class="btn savebtn" ng-click="number()">save</button><br>
                    </div>
                    <div class="settingsBox">
                        <h3>Update what you're keeping track of:</h3>
                        <input class="smallBox dashinput" type="text" ng-model="SetHabit1.habit1" placeholder="Example: Running 3 miles"/><button class="btn savebtn" ng-click="habit1()">save</button>
                        <input class="smallBox dashinput" type="text" ng-model="SetHabit2.habit2" placeholder="Example: Eating 4 types of veggies"/><button class="btn savebtn" ng-click="habit2()">save</button><h3>{{currentHabit2}}</h3>
                        <input class="smallBox dashinput" type="text" ng-model="SetHabit3.habit3" placeholder="Example: Morning meditation"/><button class="btn savebtn"  ng-click="habit3()">save</button><h3>{{currentHabit3}}</h3>
                    </div>
                    <button class="btn button" value="Close" data-dismiss="modal" data-target="#myModal">Close</button>
         </div>
    </div>
  </div>
</div>

</div>

<div ng-controller="welcomeController">
        <div  ng-show="welcomeTime" class="col-xs-12 welcomeBox">
            <h2>Welcome Habit Streak!</h2>
            <p>Habit Streak is the easiest way to keep track of your most important daily habits. Follow these instructions to get set up:</p>
            <ol>
                <li class="list">Open the settings window in the top right.</li>
                <li class="list">Fill out the information to specify what time you'd like to receive texts, what number, and what you'd like to keep track of.</li>
                <li class="list">You can respond to texts with a simple "Y" or "N" depending on whether or not you've met your goals for the day.</li>
                <li class="list">Log back in to the app any time you'd like to check on your progress.</li>
            </ol>
        </div>

<div class="modal" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modaltest">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><b>X</b></button>
            <h3 class="modal-title" id="myModalLabel">Account Information</h3>
            </div>
            <div class="modal-body">
                <p class="description">Habit Tracker is the easiest way to keep track of your most important daily habits over sms.</p>
                <h3>Username: </h3><p class="description">{{modalUsername}}</p>
                <h3>Selected time to receive texts: </h3><p class="description">{{modalTime}}</p>
                <h3>Phone number to receive texts: </h3><p class="description">{{modalNumber}}</p>
                <h3>Habits you are currently tracking: </h3>
                <ul>
                    <li>{{modalHabit1}}</li>
                    <li>{{modalHabit2}}</li>
                    <li>{{modalHabit3}}</li>
                </ul>
         </div>
    </div>
  </div>
</div>
</div>


    <div ng-controller="dashController">

            <div class="container-fluid graphNavs">
                    <div class="col-xs-12 btnwrapper">
                        <button class="col-xs-4 btn navbtn graphbtn" ng-click="H1Show()">{{habit1name}}</button>
                        <button class="col-xs-4 btn navbtn graphbtn" ng-click="H2Show()">{{habit2name}}</button>
                        <button class="col-xs-4 btn navbtn graphbtn" ng-click="H3Show()">{{habit3name}}</button>
                        <button class="col-xs-4 btn navbtn graphbtn" ng-click="WeekShow()">Weekly Stats</button>
                        <button class="col-xs-4 btn navbtn graphbtn" ng-click="MonthShow()">Monthly Stats</button>
                        <button class="col-xs-4 btn navbtn graphbtn" ng-click="AllTimeShow()">All Time</button>
                    </div>
            </div>
            <div class="container-fluid">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-8 graph">
                    <div class="graph" ng-show="H1Week" id="H1Week" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="H2Week" id="H2Week" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="H3Week" id="H3Week" style="width: 400px; height: 400px; margin: 0 auto"></div>     
                    <div class="graph" ng-show="H1Month" id="H1Month" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="H2Month" id="H2Month" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="H3Month" id="H3Month" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="container" id="container" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="container2" id="container2" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="container3" id="container3" style="width: 400px; height: 400px; margin: 0 auto"></div>
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </div>
    </body>
</html>



<!--              <input type="text" ng-model="signupForm.habit1" placeholder="1st"/>
            <input type="text" ng-model="signupForm.habit2" placeholder="2nd"/>
            <input type="text" ng-model="signupForm.habit3" placeholder="3rd"/> -->