<!DOCTYPE html>
<html ng-app="myApp">
    <head>
    	<title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="./css/dash.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" media="(max-width: 700px)" href="test.css" />
    <script src="https://code.highcharts.com/highcharts.js"></script>
<!--     // <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script> -->
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <script rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
<!--     // <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.5.0/angular-touch.js"></script> -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="main.js"></script>
    <script src="dash.js"></script>
    </head>
    <body>
    <div ng-controller="mainController">
        <nav class="navbar">
            <div class="container-fluid navbar">
                <!-- <div class="col-xs-12"> -->
                    <h1 class="col-xs-6 bigIcon"><i class="ion-person" ng-click="modalInfo()" data-toggle="modal" data-target="#newModal"></i></h1>
                    <h1 class="col-xs-6 bigIcon"><i ng-click="modalInfo()" data-toggle="modal" ng-touch="testing()" data-target="#myModal" class="ion-ios-gear floatRight"></i></h1>
                <!-- </div> -->
            </div>
        </nav>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modaltest">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><b>X</b></button>
            <h3 class="modal-title" id="myModalLabel">Settings</h3>
            </div>
            <div class="modal-body">
                <h4>What time would you like to receive texts?</h4>
                <form ng-submit="habitSetting()">
                    <select class="form-group" name="time" ng-model="settings.time">
                        <option value="0">12:00 AM</option>
                        <option value="1">1:00 AM</option>
                        <option value="2">2:00 AM</option>
                        <option value="3">3:00 AM</option>
                        <option value="4">4:00 AM</option>
                        <option value="5">5:00 AM</option>
                        <option value="6">6:00 AM</option>
                        <option value="7">7:00 AM</option>
                        <option value="8">8:00 AM</option>
                        <option value="9">9:00 AM</option>
                        <option value="10">10:00 AM</option>
                        <option value="11">11:00 AM</option>
                        <option value="12">12:00 PM</option>
                        <option value="13">1:00 PM</option>
                        <option value="14">2:00 PM</option>
                        <option value="15">3:00 PM</option>
                        <option value="16">4:00 PM</option>
                        <option value="17">5:00 PM</option>
                        <option value="18">6:00 PM</option>
                        <option value="19">7:00 PM</option>
                        <option value="20">8:00 PM</option>
                        <option value="21">9:00 PM</option>
                        <option value="22">10:00 PM</option>
                        <option value="23">11:00 PM</option>
                    </select>
                    <h4> What is your phone number?</h4>
                    <p>{{modal2Number}}</p><button ng-hide="numHide" ng-click="numberClick()">Update Number</button>
                    <input ng-show="numberHide" type="text" ng-model="settings.number" placeholder="Phone number"/><br>
                    <h4>What are you keeping track of?</h4>
                    <input class="smallBox" type="text" ng-model="settings.habit1" placeholder="Example: "/><br>
                    <input class="smallBox" type="text" ng-model="settings.habit2" placeholder="Example: "/><br>
                    <input class="smallBox" type="text" ng-model="settings.habit3" placeholder="Example: "/><br>
                    <input class="btn btn-sm submitBox" value="Submit Changes" type="submit"/>
                </form>
         </div>
    </div>
  </div>
</div>

<div class="modal fade" id="newModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modaltest">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><b>X</b></button>
            <h3 class="modal-title" id="myModalLabel">Account Information</h3>
            </div>
            <div class="modal-body">
                <p class="description">Habit Tracker is the easiest way to keep track of your most important daily habits. Just select a time that's convenient, enter your phone number, and up to three things you'd like to keep track of. Every day you'll receive a short text asking if you've met your goals for the day. All you need to do is respond with three letters ("Y" or "N") and we'll do the rest. Whenever you want to check out your progress just log in and take a look!</p>
                <h3>Username: </h3><h3 class="description">{{modalUsername}}</h3>
                <h3>Selected time to receive texts: </h3><h3 class="description">{{modalTime}}</h3>
                <h3>Phone number to receive texts: </h3><h3 class="description">{{modalNumber}}</h3>
                <h3>Habits you are currently tracking: </h3><h3 class="description">{{modalHabit}}</h>
         </div>
    </div>
  </div>
</div>



</div>



<div ng-controller="dashController">



            <div class="container-fluid graphNavs">
                    <div class="col-xs-12 btnwrapper">
                        <button class="col-xs-4 btn navbtn" ng-click="H1Show()">Habit 1</button>
                        <button class="col-xs-4 btn navbtn" ng-click="H2Show()">Habit 2</button>
                        <button class="col-xs-4 btn navbtn" ng-click="H3Show()">Habit 3</button>
<!--                     </div>
                    <div class="col-xs-12"> -->
                        <button class="col-xs-4 btn navbtn" ng-click="WeekShow()">Weekly Stats</button>
                        <button class="col-xs-4 btn navbtn" ng-click="MonthShow()">Monthly Stats</button>
                        <button class="col-xs-4 btn navbtn" ng-click="AllTimeShow()">All Time</button>
                    </div>
            </div>
            <div class="container-fluid">
                <div class="col-xs-2">
                </div>
                <div class="col-xs-8 graph">            
                    <div class="graph" ng-show="H1Month" id="H1Month" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="H2Month" id="H2Month" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="H3Month" id="H3Month" style="width: 400px; height: 400px; margin: 0 auto"></div>                
                    <div class="graph" ng-show="H1Week" id="H1Week" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="H2Week" id="H2Week" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="H3Week" id="H3Week" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="container" id="container" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="container2" id="container2" style="width: 400px; height: 400px; margin: 0 auto"></div>
                    <div class="graph" ng-show="container3" id="container3" style="width: 400px; height: 400px; margin: 0 auto"></div>
                </div>
                <div class="col-xs-2">
                </div>
            </div>
        </div>
    </body>
</html>



<!--              <input type="text" ng-model="signupForm.habit1" placeholder="1st"/>
            <input type="text" ng-model="signupForm.habit2" placeholder="2nd"/>
            <input type="text" ng-model="signupForm.habit3" placeholder="3rd"/> -->