<!DOCTYPE html>
<html ng-app="myApp">
    <head>
    	<title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.css">
    <link rel="stylesheet" href="./css/dash.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
        // <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    // <script src="https://code.highcharts.com/highcharts-more.js"></script>
    // <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js"></script>
    <script rel="stylesheet" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
    <script src="main.js"></script>
    <script src="dash.js"></script>
    </head>
    <body>
    	<div ng-controller="mainController">
        <nav class="navbar navbar-primary navbar-fixed-top">
            <div class="container-fluid navbar">
                <!-- <div class="col-xs-12"> -->
                    <h1 class="col-xs-6 bigIcon"><i class="ion-person"></i></h1>
                    <h1 class="col-xs-6 bigIcon"><i data-toggle="modal" data-target="#myModal"class="ion-ios-gear floatRight"></i></h1>
                <!-- </div> -->
            </div>
        </nav>

    	<h1>Hey there {{name}}!</h1>

<!--     <button class="btn btn-lg btn-success" 
   data-toggle="modal" 
   data-target="#basicModal">Click to open Modal</button> -->



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 class="modal-title" id="myModalLabel">Settings</h3>
            </div>
            <div class="modal-body">
                <h4>What time would you like to receive texts?</h4>
                <form ng-submit="habitSetting()">
                    <select class="form-group" name="time" ng-model="settings.time">
                        <option value="0">12:00 AM</option>
                        <option value="1">1:00 AM</option>
                        <option value="2">2:00 AM</option>
                        <option value="3">3:00 AM</option>
                        <option value="4">4:00 AM</option>
                        <option value="5">5:00 AM</option>
                        <option value="6">6:00 AM</option>
                        <option value="7">7:00 AM</option>
                        <option value="8">8:00 AM</option>
                        <option value="9">9:00 AM</option>
                        <option value="10">10:00 AM</option>
                        <option value="11">11:00 AM</option>
                        <option value="12">12:00 PM</option>
                        <option value="13">1:00 PM</option>
                        <option value="14">2:00 PM</option>
                        <option value="15">3:00 PM</option>
                        <option value="16">4:00 PM</option>
                        <option value="17">5:00 PM</option>
                        <option value="18">6:00 PM</option>
                        <option value="19">7:00 PM</option>
                        <option value="20">8:00 PM</option>
                        <option value="21">9:00 PM</option>
                        <option value="22">10:00 PM</option>
                        <option value="23">11:00 PM</option>
                    </select>

                    <h4>What is your phone number?</h4>
                    <input type="text" ng-model="settings.number" placeholder="Phone number"/><br>
                    <h4>What are you keeping track of?</h4>
                    <input type="text" ng-model="settings.habit1" placeholder="Example: "/><br>
                    <input type="text" ng-model="settings.habit2" placeholder="Example: "/><br>
                    <input type="text" ng-model="settings.habit3" placeholder="Example: "/><br>
                    <input value="save" type="submit"/>
                </form>
         </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> 
    </div>
  </div>
</div>
</div>

<div ng-controller="dashController">

            <div class="container-fluid graphs">
            </div>
                <div id="container" style="width: 400px; height: 400px; margin: 0 auto"></div>
                <div id="container2" style="width: 400px; height: 400px; margin: 0 auto"></div>
                <div id="container3" style="width: 400px; height: 400px; margin: 0 auto"></div>
            </div>

        </div>
    </body>
</html>



<!--              <input type="text" ng-model="signupForm.habit1" placeholder="1st"/>
            <input type="text" ng-model="signupForm.habit2" placeholder="2nd"/>
            <input type="text" ng-model="signupForm.habit3" placeholder="3rd"/> -->